# Control Structures

## Taking User Input

In [1]:
# Input()-> Input is a function which always take input from the user and it always returns a sting data types

In [2]:
score = input("Enter the current score: ")

Enter the current score: 99

In [3]:
print(score)

99

In [7]:
input_string = input()
print('Welcome to 30 Days of Code!.')

Hello, World!
Welcome to 30 Days of Code!.

In [4]:
print(type(score))
## here the type of the number is string the the element is in string form ignoring the value whichever was inserted in it

<class 'str'>

## if, if-else,if-elif-else

In [5]:
number = input('Enter any number: ')
number = int(number)## Here we are converting the type of number into integer and the output will be interger from string
print(number,type(number))

Enter any number: 8
8 <class 'int'>

In [6]:
## Now we want to check whether user had give +ve or -ve no and the no is greater than 0 or less than 0
## So for this we will use another keyword i.e if else

In [7]:
if number > 0:
    print('User has entered positive number')
else:
    print('User has entered negative number')

User has entered positive number

In [9]:
number = int(input('Enter any number: ')) ## here we had converted a string to a number itself by adding int at the starting
if number > 0:
    print('User has entered positive number.')
elif number ==0:
    print('User has entered Zero number.')
else:
    print('User has entered negative number.')

Enter any number: 5
User has entered positive number.

## While

In [14]:
index = 1

In [15]:
while index <=10:
    print(index) ## So we will not keep our programe upto here as it will sow result as 1, 1, 1 not repeating upto infinite so to not face anysuch problem we will right one more code in next line
    index = index + 1 ## index += 1 will work same as index = index + 1

1
2
3
4
5
6
7
8
9
10

## Iterating Through Range

In [20]:
r = range(5,51,15)

In [21]:
print(r)

range(5, 51, 15)

In [22]:
list(r)

[5, 20, 35, 50]

In [23]:
for item in r: ## this means iterate through each element of the range
    print(item)

5
20
35
50

## Iterating through list using for loop

In [24]:
websites = ['Amazon','Flipkart','Snapdeal']

In [25]:
for item in websites:
    print('www.' + item +'.com')

www.Amazon.com
www.Flipkart.com
www.Snapdeal.com

In [26]:
for item in websites:
    print('www.{}.com'.format(item))

www.Amazon.com
www.Flipkart.com
www.Snapdeal.com

## Iterating through dict

In [27]:
vk = {'Name':'Virat','Age': 38,'Team':'RCB'}

In [28]:
vk

{'Name': 'Virat', 'Age': 38, 'Team': 'RCB'}

In [29]:
vk.keys()

dict_keys(['Name', 'Age', 'Team'])

In [30]:
vk.values()

dict_values(['Virat', 38, 'RCB'])

In [32]:
vk.items()

dict_items([('Name', 'Virat'), ('Age', 38), ('Team', 'RCB')])

In [33]:
## Multiple ways Iterate through Keys

In [34]:
for item in vk:
    print(item)

Name
Age
Team

In [35]:
for item in vk.values():
    print(item)

Virat
38
RCB

In [36]:
for item in vk.items():
    print(item)
    ## here we will get tuple in the output

('Name', 'Virat')
('Age', 38)
('Team', 'RCB')

In [41]:
for k,v in vk.items():
    print(k,v)

Name Virat
Age 38
Team RCB

## Break

In [44]:
for item in range(1,11):
    print(item)

1
2
3
4
5
6
7
8
9
10

In [45]:
for item in range(1,11):
    print(item)
    if item ==5:
        break

1
2
3
4
5

## Continue

In [46]:
for item in range(1,11):
    print(item)

1
2
3
4
5
6
7
8
9
10

In [48]:
for item in range(1,11):
    if item % 2 == 0:   ## here if the remainder is 0 means jumps to another no or if the no is divisible by 2 jumps to another no and print the only which are not divisible by 2 or the odds nos
        continue
    print(item)

1
3
5
7
9

## Pass

In [11]:
# It is Synatx Filler
# It Does nothing

In [12]:
for item in range(1,11):

SyntaxError: unexpected EOF while parsing (<ipython-input-12-69069be79369>, line 2)

In [13]:
for item in range(1,11):
    pass

# Exercises

## Excercise 1

In [53]:
# take input from the user and print the reverse of a number
# Input: 123
# Output: 321

In [58]:
num = input('enter any number: ')
print('Reverse: ',num[::-1])

enter any number: 123
Reverse:  321

In [59]:
s= 'WELCOME'

In [60]:
s[::2]

'WLOE'

In [61]:
s[::-1]

'EMOCLEW'

## Excercise 2

In [62]:
# Write a program to get the sum of all elements in the list
# numbers = [11,22,33,44,55,66,77,88,99]

In [74]:
 numbers = [11,22,33,44,55,66,77,88,99]

In [75]:
result = 0
for item in numbers:
    result+= item
print('Result:',result)

Result: 495

## Excetcise 3

In [ ]:
# Write a program to print below pattern
#        *
#       *  *
#      *  *  *
#     *  *  *  * 
#   *  *  *  *  *